---
import Layout from "@/layouts/baseLayout.astro";
import ProductPage from "@/components/ProductPage";

export function getStaticPaths() {
  const products = [
    {
      id: 1,
      name: "Nova",
      price: 1234,
      brand: "Rufster",
      image: "/millenniumdachroof/products/nova.png",
    },
    {
      id: 2,
      name: "Terra",
      price: 456,
      brand: "Rufster",
      image: "/millenniumdachroof/products/terra.png",
    },
    {
      id: 3,
      name: "Kingas",
      price: 678,
      brand: "Blachotrapez",
      image: "/millenniumdachroof/products/kingas.webp",
    },
    {
      id: 4,
      name: "Enigma",
      price: 890,
      brand: "Blachotrapez",
      image: "/millenniumdachroof/products/enigma.jpg",
    },
    {
      id: 5,
      name: "Diament",
      price: 1011,
      brand: "Blachotrapez",
      image: "/millenniumdachroof/products/diament.webp",
    },
    {
      id: 6,
      name: "Celesta",
      price: 1122,
      brand: "Rufster",
      image: "/millenniumdachroof/products/celesta.png",
    },
    {
      id: 7,
      name: "Aqua",
      price: 1213,
      brand: "Rufster",
      image: "/millenniumdachroof/products/aqua.png",
    },
  ];

  return products.map((product) => ({
    params: { id: product.id },
  }));
}

const { id } = Astro.params;

const products = [
  {
    id: 1,
    name: "Nova",
    price: 1234,
    brand: "Rufster",
    image: "/millenniumdachroof/products/nova.png",
  },
  {
    id: 2,
    name: "Terra",
    price: 456,
    brand: "Rufster",
    image: "/millenniumdachroof/products/terra.png",
  },
  {
    id: 3,
    name: "Kingas",
    price: 678,
    brand: "Blachotrapez",
    image: "/millenniumdachroof/products/kingas.webp",
  },
  {
    id: 4,
    name: "Enigma",
    price: 890,
    brand: "Blachotrapez",
    image: "/millenniumdachroof/products/enigma.jpg",
  },
  {
    id: 5,
    name: "Diament",
    price: 1011,
    brand: "Blachotrapez",
    image: "/millenniumdachroof/products/diament.webp",
  },
  {
    id: 6,
    name: "Celesta",
    price: 1122,
    brand: "Rufster",
    image: "/millenniumdachroof/products/celesta.png",
  },
  {
    id: 7,
    name: "Aqua",
    price: 1213,
    brand: "Rufster",
    image: "/millenniumdachroof/products/aqua.png",
  },
];
---

<main>
  <Layout>
    <ProductPage product={products[id - 1]} client:load />
  </Layout>
</main>
